{% extends "base.html" %}
{% block page_content %}
<br>
<br>
<br>
<div class="col-md-8 offset-md-2">
    <h3>Study Registration Form:</h3>
    <form action="/research/newstudy/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a href="{% url 'research_index' %}"
    class="btn btn-outline-primary">
     Return to Research Studies
 </a>   
</div>
{% endblock %}